#===========================================================
# Working assessments, reverse-engineering and smoke testing
#===========================================================
self-assessment/
temp/
tmp/
!temp/
temp/*
!temp/nmap/
temp/nmap/*
!temp/nmap/nmap-services
!temp/nmap/nmap-service-probes
#===========================================================



#===========================================================
# Python artifacts & trails
#===========================================================
.venv/
venv/
__pycache__/
*.pyc
#===========================================================



#===========================================================
# Ruby & Gem artifacts
#===========================================================
*.gem
.bundle/
Gemfile.lock
coverage/
.asrfacet_rb/
#===========================================================



#===========================================================
# Installation and report generation testing
#===========================================================
/output/
install/test-root/
#===========================================================



#===========================================================
# Others...
#===========================================================
tree.txt
releases/
#===========================================================
